apiVersion: v1
kind: ConfigMap
metadata:
  name: __COMPONENT_ID__-config
  namespace: __NAMESPACE__
data:
  redis.conf: |
    maxmemory __MAXMEMORY__
    maxmemory-policy allkeys-lru
    appendonly yes
    save 900 1
    save 300 10